<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWH4NIvgmuxmTczsKu7TszBW8WyEib4YY</string>
	<key>GCM_SENDER_ID</key>
	<string>201981640461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFinal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-test-66cef</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-test-66cef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201981640461:ios:2c6bfd9d149c1887a07a44</string>
	<key>DATABASE_URL</key>
	<string>https://fir-flutter-test-66cef-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>